<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'HistoryBattlesApp/css/styles.css'%}">
    <link rel="stylesheet" href="{% static 'HistoryBattlesApp/css/myStyle.css'%}">
    <title>Document</title>
</head>
<body class="bodyColor">
    <div class="containerLogin">
        <form action="" method="POST" class="formLogin"> {% csrf_token %}

            <h3 class="tittleLogin">History Battles Register</h3>

            <div>
                <input minlength="4" maxlength="20" name="username" type="text" placeholder="User" class="inputLogin">
            </div>
            <div>
                <input name="email" type="text" placeholder="Email" class="inputLogin">
            </div>
            <div>
                <input name="password1" type="password" placeholder="Password" class="inputLogin">
            </div>
            <div>
                <input name="password2" type="password" placeholder="Password Confirmation" class="inputLogin">
            </div>
            <div>
                <button class="btn btn-primary" type="submit">Register</button>
            </div>
            <p class="parrafoStyle">Ya tienes una cuenta? <a href="{% url 'Login' %}">Iniciar Sesion</a></p>

        </form>
    </div>
</body>
</html>