<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'HistoryBattlesApp/css/styles.css'%}">
    <link rel="stylesheet" href="{% static 'HistoryBattlesApp/css/myStyle.css'%}">
    <title>Document</title>
</head>
<body class="">
    <div class="containerRegister">

        <form action="{% url 'Register' %}" method="POST" class=""> {% csrf_token %}
            
            {{form.as_p}}

            <div>
                <button class="btn btn-primary" type="submit">Registrar</button>
            </div>
            <p class="parrafoStyle">¿Ya tienes una cuenta? <a href="{% url 'Login' %}">Iniciar Sesión</a></p>

        </form>
    </div>
</body>
    </div>
</body>
</html>

<h3 class="tittleLogin">History Battles Register</h3>