<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'HistoryBattlesApp/css/styles.css'%}">
    <link rel="stylesheet" href="{% static 'HistoryBattlesApp/css/myStyle.css'%}">
    <title>Document</title>
</head>
<body class="bodyColor">
    <div class="containerLogin">
        <form action="" method="POST" class="formLogin"> {% csrf_token %}

            <h3 class="tittleLogin">History Battles Login</h3>

            <div>
                <input name="user" type="text" placeholder="User" class="inputLogin">
            </div>
            <div>
                <input name="password" type="password" placeholder="Password" class="inputLogin">
            </div>
            <div>
                <button class="btn btn-primary" type="submit">Login</button>
            </div>
            {% if error1 %}
                <p style="color: brown;">{{error1}}</p>
            {% endif %}
            <p class="parrafoStyle">Aun no tienes una cuenta? <a href="{% url 'Register' %}">Registrate</a></p>

        </form>
    </div>
</body>
</html>