<div>

    {% extends "HistoryBattlesApp/base.html" %}
    {% load static %}

    {% block spaceContent %}

    <p style="text-align: center;">No olvides dejarnos tu sugerencia, proximamente ampliaremos nuestro contenido.</p>

    <form method="post" enctype="multipart/form-data" style="text-align: center;">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success" style="text-decoration: none; color: black; margin-top: 10px;">Publicar</button>
    </form>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    {% for recomendacion in recomendaciones %}
    <div class="blog-container">
        <h2>{{ recomendacion.usuario }}</h2>
        <p>{{ recomendacion.contenido }}</p>

        {% if recomendacion.usuario == request.user %}
            <form method="post" action="{% url 'Blog' %}">
                {% csrf_token %}
                <input type="hidden" name="eliminar" value="{{ recomendacion.id }}">
                <button type="submit" class="eliminar-btn">Eliminar</button>
            </form>

            <a href="{% url 'EditarRecomendacion' recomendacion.id %}" class="actualizar-btn">Editar</a>
        {% endif %}
    </div>
{% endfor %}
    
    {% endblock %}

</div>