.containerHome {
    background-image: url("../assets/img/Imagen1.jpg");
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    height: 60vh !important;
    display: flex !important;
    align-items : center !important;
    justify-content: center !important;
    border: 2px solid #0d6efd;
}

.contenido{
    margin-top: 100px !important;
    padding: 10px;
}

.spaceContent{
    margin-top: 10px !important;
    padding: 5px;
}

.parrafoStyle{
    color: white !important;

}

.tittleLogin {
    color: white !important;
    font-weight: bold !important;
    margin-bottom: 30px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.bodyColor {
    margin: 0;
    padding: 0;
    background-color: #222; /* Cambia el color a tu tono oscuro deseado */
}

.containerLogin {
    display: flex !important;
    justify-content: flex-end !important;
    align-items: center !important;
    position: absolute !important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-right: 20px;
    border: 1px solid black;
    padding: 10px;
    background-image: url("../assets/img/FondoLogin.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.formLogin{
    font-weight: bold;
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.5) 100%);
    padding: 40px 20px 20px 20px;
    border-radius: 5px;
    width: 350px;
    height: 400px;
}

.formLogin div{
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputLogin{
    border-radius: 5px;
    border: 1px solid rebeccapurple;
    width: 90%;
}

.formPerfil {
    display: flex!important;
    flex-direction: column!important;
    align-items: center!important;
    text-align: center!important;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.blog-container {
    background-color: #0d6efd;
    border-radius: 10px;
    box-shadow: 2px 2px 2px black ;
    display: inline-block;
    margin: 1rem;
    padding: 1rem;
    width: 30%;
}

.custom-textfield {
    font-size: 14px;
    color: #333;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
}