{% extends "HistoryBattlesApp/base.html" %}

{% load static %}

{% block changesContent %}

   <body>
        <div>
        <h2 style="text-align: center ; font-size: 24px; ">Bienvenidos a "HistoryBattles"</h2>
        <p>Un vistazo rapido de los enfrentamientos mas importantes que a atravesado la humanidad.</p>
        </div>

        <div class="containerHome"></div>

        <div style="text-align: center; margin-top: 20px;">
            <p>La intención de esta página es presentar contenido sobre las batallas más grandes que han <br>
                transformado la historia de la humanidad a lo largo del tiempo. También proporcionaremos<br>
                información sobre la composición de los ejércitos beligerantes y destacaremos las figuras<br>
                importantes de cada período. Además, enriqueceremos la experiencia con imágenes y <br>
                cuadros de la época para ilustrar y contextualizar aún más los acontecimientos.</p>
        </div>
        
        <div>



        </div>

   </body>

{% endblock %}
